<div class="row">
    <% for(let i=0; i<portfolios.length; i++) { %>
        <a id="project<%- i %>"></a>
    <div class="mainDivsSpacing">
        
        <div class="row "> 
            <% if (i%2 == 0){ %>
                <div class="col-6">
                     <img class=" col w-100" id="aboutMeIMG" src="https://dummyimage.com/600x400/000/fff&text=image+slideshow" alt="Picture of Sean Derenas doing something">
                </div>
                <div class="col-6"> 
                    <h2 class="mw-100"><%= portfolios[i].title %></h2>
                    <h3> <%= portfolios[i].date %> </h3>
                    <p> <%= portfolios[i].description %> </p>
                </div>
            <% } else { %>
                <div class="col-6"> 
                    <h2><%= portfolios[i].title %></h2>
                    <h3> <%= portfolios[i].date %> </h3>
                    <p> <%= portfolios[i].description %> </p>
                </div>
                <div class="col-6">
                    <img class=" col w-100" id="aboutMeIMG" src="https://dummyimage.com/600x400/000/fff&text=image+slideshow" alt="Picture of Sean Derenas doing something">
                </div>
            <% } %>
            
        </div>
    </div>
    <% } %>
</div>